body {
    background-color: #dbf7ff;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #404040
}

iframe {
    display: block;
    margin: 0 auto;
}